<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'CV/images/favicon.ico' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>DATuan</title>
    <style></style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'CV/style/index.css' %}" />
  </head>

  <body>
    <div>
      <nav class="navbar">
        <div class="container">
          <a href="" class="logo-img"></a>
          <div>
            <ul class="navbar-list">
              <li class="navbar-item">
                <a href="#home" class="navbar-item__link">Home</a>
              </li>
              <li class="navbar-item">
                <a href="#about-me" class="navbar-item__link">About me</a>
              </li>
              <li class="navbar-item">
                <a href="#education" class="navbar-item__link">Education</a>
              </li>
              <li class="navbar-item">
                <a href="#project" class="navbar-item__link">Project</a>
              </li>
              <li class="navbar-item">
                <a href="#contact" class="navbar-item__link">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <header id="home">
        <div class="header">
          <div class="container h-100">
            <div class="header__content">
              <h1 class="header__name">
                <div class="mx-2">
                  <span>D</span>
                  <span>Ư</span>
                  <span>Ơ</span>
                  <span>N</span>
                  <span>G</span>
                </div>
                <div class="mx-2">
                  <span>A</span>
                  <span>N</span>
                  <span>H</span>
                </div>
                <div class="mx-2">
                  <span>T</span>
                  <span>U</span>
                  <span>Ấ</span>
                  <span>N</span>
                </div>
              </h1>
              <div class="name__hello">
                <span class="pe-2">Hi, I 'm</span>
                <span class="name__description"></span
                ><span class="cursor">&nbsp;</span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <section id="about-me" class="py-5">
        <div class="container">
          <h1 class="section-title">About me</h1>
          <h4>Who am i?</h4>
          <br />
          <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-5 mb-3">
              <div class="about-me-avatar"></div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-7">
              <div class="introduce">
                <h2>Dương Anh Tuấn</h2>
                <br />
                <p>
                  Chào mọi người mình là Tuấn, hiện là sinh viên năm 4 trường
                  đại học Bách Khoa Đại học Đà Nẵng. Đối với bản thân, mình luôn
                  quý trọng những mối quan hệ hiện có, luôn sẵn sàng giúp đỡ mọi
                  người khi gặp khó khăn. Nhận xét về bản thân, mình là một
                  nguời hòa đồng, cởi mở, vui vẻ, dễ bắt chuyện và tiếp chuyện
                  với mọi người. Trong công việc, mình luôn sẵn sàng đưa ra
                  những góp ý đóng góp cho nhóm, hoàn thành trước deadline công
                  việc, chủ động trong học tập cũng như công việc, tự tin trong
                  việc truyền tải cũng như thể hiện quan điểm của bản thân. Mình
                  thích đọc sách, nghe nhạc, đọc truyện, đi chơi cùng những
                  người bạn thân thiết, lắng nghe và chia sẽ những tâm sự của
                  mọi người vì mình thấy thông qua những câu chuyện đấy mình có
                  thể rút ra được những bài học cho bản thân cũng như có thể xử
                  lý nếu gặp phải tình huống như vậy.
                </p>
                <br />
                <p>
                  Mình đang cố gắng trong tương lai gần trở thành một lập trình
                  viên giỏi, có được những thành tựu của bản thân. Mình sẵn sàng
                  học hỏi những cái mới và cải thiện bản thân và rất muốn kết
                  bạn thêm được nhiều người, mở rộng thêm mối quan hệ bản thân.
                </p>
              </div>
              <div class="line"></div>
              <p></p>
              <div class="row">
                <div class="col-md-6">
                  <strong>From: </strong>
                  <span>Da Nang</span>
                  <br />
                  <strong>Date of birth: </strong>
                  <span>13/10/2001</span>
                </div>
                <div class="col-6">
                  <strong>Career: </strong>
                  <span>Student</span>
                  <br />
                  <strong>Email: </strong>
                  <span>duonganhtuan1314@gmail.com</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="education" class="position-relative">
        <div class="container py-5">
          <h1 class="section-title mb-5">Education</h1>
          <div class="row">
            <div class="col-6">
              <h3>Phan Châu Trinh High School</h3>
              <p>Student</p>
              <p>Class: 10 11 12</p>
            </div>
            <div
              class="col-6 py-2 d-flex justify-content-center text-success h6"
            >
              September 2016 - June 2019
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-6">
              <h3>Da Nang University Of Technology</h3>
              <p>IT Student</p>
              <p>Class: 19TCLC_DT6</p>
              <p class="my-0">GPA: <strong>3,34</strong></p>
            </div>
            <div
              class="col-6 py-2 d-flex justify-content-center text-success h6"
            >
              September 2019 - Now
            </div>
          </div>
          <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
          </div>
        </div>
      </section>

      <section id="skill">
        <div class="container py-5">
          <h1 class="section-title">Skill</h1>
          <br />
          <div class="row">
            <div class="col skill-item">
              <h5><i class="fa-brands fa-html5"></i>HTML</h5>
            </div>
            <div class="col skill-item">
              <h5><i class="fa-brands fa-css3-alt"></i>CSS</h5>
            </div>
            <div class="col skill-item">
              <h5><i class="fa-brands fa-js"></i>Javascript</h5>
            </div>
          </div>
          <div class="row">
            <div class="col skill-item">
              <h5><i class="fa-brands fa-python"></i>Python</h5>
            </div>
            <div class="col skill-item">
              <h5><i class="fa-solid fa-database"></i>Database</h5>
            </div>
            <div class="col skill-item">
              <h5><i class="fa-solid fa-code"></i>Others</h5>
            </div>
          </div>
        </div>
      </section>

      <section class="project position-relative" id="project">
        <div class="container py-5">
          <h1 class="section-title">Project</h1>
          <div class="row mt-3">
            <div class="col-md-6">
              <i class="fa-solid fa-circle">
                <h5 class="d-inline ms-4">Coffee Management</h5>
              </i>
              <div class="project-detail-language ms-5 mt-2">
                <p class="mb-0">- Java</p>
                <p class="mb-0">- SQL Server</p>
              </div>
            </div>
            <div class="col-md-6 project-dicription">
              Ứng dụng tạo ra để giúp cho người quản lí có thể quản lý tốt nhân
              viên quán cafe của họ. Ứng dụng có thể sắp xếp lịch làm việc cho
              nhân viên nhanh chóng và tiện lợi theo các ca làm sáng, chiều,
              tối. Ứng dụng có thể tính toán thời gian làm việc cũng như tính
              toán lương cho nhân viên.
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <i class="fa-solid fa-circle">
                <h5 class="d-inline ms-4">ShoesStore Management</h5>
              </i>
              <div class="project-detail-language ms-5 mt-2">
                <p class="mb-0">- C#</p>
                <p class="mb-0">- SQL Server</p>
                <p class="mb-0">- Git</p>
              </div>
            </div>
            <div class="col-md-6 project-dicription">
              Sử dụng C# (CodeFirst) và SQL Server ứng dụng quản lí giày được ra
              đời để giúp nhân viên dễ dàng làm việc (cập nhật sản phẩm, thanh
              toán hóa đơn,...) cũng như người mua có thể lựa chọn được sản phẩm
              phù hợp với bản thân
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <i class="fa-solid fa-circle">
                <h5 class="d-inline ms-4">Keylogger AND Botnet</h5>
              </i>
              <div class="project-detail-language ms-5 mt-2">
                <p class="mb-0">- Python/Flask</p>
                <p class="mb-0">- Sqlite3</p>
              </div>
            </div>
            <div class="col-md-6 project-dicription">
              Phần mềm như một con virus có thể điều khiển máy tính nạn nhân
              (chụp màn hình, chụp gương mặt nạn nhân, lấy tài khoản mật khẩu
              được nhập từ bàn phím chuyển về server,...).
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <i class="fa-solid fa-circle">
                <h5 class="d-inline ms-4">Detection Vehicle System</h5>
              </i>
              <div class="project-detail-language ms-5 mt-2">
                <p class="mb-0">- Python/Django</p>
                <p class="mb-0">- Firebase</p>
                <p class="mb-0">- Yolov5</p>
                <p class="mb-0">- VueJS</p>
              </div>
            </div>
            <div class="col-md-6 project-dicription">
              Hệ thống bao gồm 1 con raspberry có thể theo dõi những tuyến đường
              giao thông từ đó nhận diện phương tiện và thống kê lưu lượng xe.
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <i class="fa-solid fa-circle">
                <h5 class="d-inline ms-4">THi Landing Page</h5>
              </i>
              <div class="project-detail-language ms-5 mt-2">
                <p class="mb-0">- Html</p>
                <p class="mb-0">- Css</p>
                <p class="mb-0">- Boostrap</p>
              </div>
            </div>
            <div class="col-md-6 project-dicription">Một dự án của Nhật giới thiệu công ty THI.</div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <i class="fa-solid fa-circle">
                <h5 class="d-inline ms-4">Comic</h5>
              </i>
              <div class="project-detail-language ms-5 mt-2">
                <p class="mb-0">- Python/Django</p>
                <p class="mb-0">- HTML</p>
                <p class="mb-0">- CSS</p>
                <p class="mb-0">- JS</p>
              </div>
            </div>
            <div class="col-md-6 project-dicription">
              Một trang web đọc truyện cho những người đam mê truyện tranh.
            </div>
          </div>
        </div>
      </section>
      <section class="social">
        <div class="container py-5">
          <h1 class="section-title">Social</h1>
          <div class="row">
            <div
              class="col-md-5 d-flex align-items-center flex-column justify-content-center"
            >
              <h5 class="d-inline-block">
                Câu lạc bộ kỹ năng thanh niên YSC
                <h6 class="d-inline-block">2016 - 2017</h6>
              </h5>
              <p>Thành viên</p>
            </div>
            <div class="col-md-7">
              <div class="social-YSC__img"></div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-7">
              <div class="social__img"></div>
            </div>
            <div
              class="col-md-5 d-flex align-items-center flex-column justify-content-center"
            >
              <h5 class="d-inline-block">
                SClub - CLB Kỹ Năng Mềm Đà Nẵng
                <h6 class="d-inline-block">2020 - 2022</h6>
              </h5>
              <p>Trưởng ban sự kiện nhà</p>
            </div>
          </div>
        </div>
      </section>
      <section id="contact" class="contact position-relative">
        <div class="container py-5">
          <div class="contact-content">
            <h1 class="section-title">Contact</h1>
            <form action="" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-4">
                  <div id="contact_name" class="contact-info">
                    {{form.name}}
                  </div>
                </div>
                <div class="col-4">
                  <div id="contact_email" class="contact-info">
                    {{form.email}}
                  </div>
                </div>
                <div class="col-4">
                  <div id="contact_phone" class="contact-info">
                    {{form.phone}}
                  </div>
                </div>
              </div>

              <div id="contact_subject" class="contact-info">
                {{form.subject}}
              </div>
              <div id="contact_message" class="contact-info">
                {{form.message}}
              </div>
              {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <li
                  {%
                  if
                  message.tags
                  %}
                  class=" {{ message.tags }} message"
                  {%
                  endif
                  %}
                >
                  <i class="fa-solid fa-arrow-right-long pe-1"></i>{{ message }}
                </li>
                {% endfor %}
              </ul>
              {% endif %}
              <input type="submit" class="bttn-dark" value="Submit" />
            </form>
          </div>
        </div>
      </section>
      <div id="setting" class="setting">
        <div class="setting-icon">
          <i class="fa-solid fa-gear"></i>
        </div>
        <div class="setting-color">
          <div class="table-color">
            <div class="row">
              <div class="col-4">
                <div class="color-item" style="background-color: #a0d995"></div>
              </div>
              <div class="col-4">
                <div class="color-item" style="background-color: #4cacbc"></div>
              </div>
              <div class="col-4">
                <div class="color-item" style="background-color: #6cc4a1"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="color-item" style="background-color: #fbc5c5"></div>
              </div>
              <div class="col-4">
                <div class="color-item" style="background-color: #377d71"></div>
              </div>
              <div class="col-4">
                <div class="color-item" style="background-color: #8879b0"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="color-item" style="background-color: #94b49f"></div>
              </div>
              <div class="col-4">
                <div class="color-item" style="background-color: #363062"></div>
              </div>
              <div class="col-4">
                <div class="color-item" style="background-color: #f9f3ee"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#home" class="scrool-to-top"
        ><i class="fa-solid fa-angle-up"></i
      ></a>
      <footer>
        <div id="footer">
          <div class="container py-5">
            <div class="row py-5">
              <div class="footer-information">
                <h1 class="footer-title opacity-5">DƯƠNG ANH TUẤN</h1>
                <h5 class="text-center opacity-5">
                  "You can do everything you want with your life you just have
                  to worry work hard to get it"
                </h5>
                <div class="line mt-4"></div>
                <div class="row">
                  <div class="footer-infomation__link pt-4">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-telegram"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-github-alt"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-center opacity-5">@2022 Design by me</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script>
    const typedTextSpan = document.querySelector(".name__description");
    const cursorSpan = document.querySelector(".cursor");

    const textArray = [
      "a Web Developer.",
      "a Backend Developer.",
      "Dương Anh Tuấn.",
      "21 years old.",
    ];
    const typingDelay = 100;
    const erasingDelay = 100;
    const newTextDelay = 2000; // Delay between current and next text
    let textArrayIndex = 0;
    let charIndex = 0;

    function type() {
      if (charIndex < textArray[textArrayIndex].length) {
        if (!cursorSpan.classList.contains("typing"))
          cursorSpan.classList.add("typing");
        typedTextSpan.textContent +=
          textArray[textArrayIndex].charAt(charIndex);
        charIndex++;
        setTimeout(type, typingDelay);
      } else {
        cursorSpan.classList.remove("typing");
        setTimeout(erase, newTextDelay);
      }
    }

    function erase() {
      if (charIndex > 0) {
        if (!cursorSpan.classList.contains("typing"))
          cursorSpan.classList.add("typing");
        typedTextSpan.textContent = textArray[textArrayIndex].substring(
          0,
          charIndex - 1
        );
        charIndex--;
        setTimeout(erase, erasingDelay);
      } else {
        cursorSpan.classList.remove("typing");
        textArrayIndex++;
        if (textArrayIndex >= textArray.length) textArrayIndex = 0;
        setTimeout(type, typingDelay + 1100);
      }
    }

    document.addEventListener("DOMContentLoaded", function () {
      // On DOM Load initiate the effect
      if (textArray.length) setTimeout(type, newTextDelay + 250);
    });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      // Add smooth scrolling to all links
      $("a").on("click", function (event) {
        if (this.hash !== "") {
          event.preventDefault();
          var hash = this.hash;
          $("html, body").animate(
            {
              scrollTop: $(hash).offset().top,
            },
            800,
            function () {
              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
            }
          );
        } // End if
      });
    });
  </script>
  <script>
    let setting = document.querySelector(".setting-icon");
    setting.onclick = function () {
      if ($(".table-color").hasClass("d-flex")) {
        $(".table-color").removeClass("d-flex");
      } else {
        $(".table-color").addClass("d-flex");
      }
    };
    let items = document.getElementsByClassName("color-item");
    for (let i = 0; i < items.length; i++) {
      let item = items[i];
      item.onclick = function () {
        $(document.body).css("--main-color", $(item).css("background-color"));
      };
    }
  </script>
</html>
