@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:700';

:root {
  --gray: #a9a9a9;
  --main-color: #fbc5c5;
}

html {
  scroll-behavior: smooth;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

.main-color {
  color: var(--main-color);
}

.opacity-5 {
  opacity: 0.5;
}

strong {
  margin-right: 5px;
}

span {
  word-spacing: normal;
  letter-spacing: normal;
  display: inline-block;
}

.navbar {
  color: black;
  /* opacity: 0.3; */
  background-color: black;
  padding: 0px;
}

.navbar .container {
  align-items: stretch;
}

.navbar-list {
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  align-items: stretch;
}

.navbar-item {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  height: 100%;
  font-weight: 600;
}

.navbar-item__link {
  text-decoration: none;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-item__link:hover {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
  transition: all 0.2s;
}

.logo-img {
  margin: 8px 0px;
  width: 100px;
  min-height: 50px;
  background-image: url("../images/Logo1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.header {
  height: 750px;
  position: relative;
}

.header::before {
  background-color: var(--gray);
  opacity: 0.8;
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.header::after {
  content: "";
  position: absolute;
  background-image: url("../images/IMG_3836.jpg");
  background-size: cover;
  background-position-y: bottom;
  background-repeat: no-repeat;
  z-index: -2;
  height: 100%;
  width: 100%;
  top: 0px;
}

.header__name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.header__name span:hover {
  color: var(--main-color);
  transform: translateY(-8px);
  transition: all 0.2s;
}

.header__content {
  display: flex;
  top: 0px;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  height: 100%;
  letter-spacing: 0px;
  flex-direction: column;
}

.header__content h1 span {
  font-size: 6.5rem;
  display: inline-block;
}

.name__hello {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.name__description {
  color: var(--main-color);
}

.cursor {
  display: inline-block;
  background-color: var(--main-color);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.cursor.typing {
  animation: none;
}

/* About Me */
.section-title {
  display: inline-block;
  border-bottom: 3px solid var(--main-color);
  margin-bottom: 2.5rem;
}

.section-title h4 {
  padding-top: 5px;
}

.about-me-avatar {
  background-image: url("../images/avatar.jpg");
  height: 450px;
  width: 450px;
  background-size: cover, contain;
  background-position: center -113px;
  background-repeat: no-repeat;
  border-radius: 50%;
  top: 5px;
}

.introduce p {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.6rem;
}

.line {
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
}

#education::before {
  background-color: var(--gray);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}

/* skill */
.skill-item {
  width: 100%;
  height: 200px;
  box-shadow: 5px 10px 5px #888888;
  border: 2px solid var(--gray);
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 90px;
}

.skill-item i {
  color: var(--main-color);
  margin-right: 5px;
  font-size: 40px;
}

.skill-item h5 {
  font-size: 30px;
  display: flex;
}

/* project */
.project::before {
  position: absolute;
  background-color: var(--gray);
  opacity: 0.2;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
}

.project-detail-language p {
  /* border-left: 1px solid #000; */
  border-width: 80%;
  counter-increment: item;
}

.project-detail-language p:before {
  content: counter(item);
  display: inline-block;
  width: 12px;
  height: 20px;
  /* font-family: "Indie Flower", cursive; */
  margin-right: 5px;
  background-color: var(--main-color);
  color: #37465D;
  font-weight: bold;
  font-size: 140%;
  padding: 0 8px 8px;
  border-radius: 3px;
  line-height: 1.3;
}

.project-dicription {
  text-align: justify;
}

.social-YSC__img,
.social__img {
  width: 100%;
  height: 350px;
  background-image: url("../images/SClub.jpg");
  background-position: bottom;
  background-size: cover;
}

.social-YSC__img {
  background-image: url("../images/YSC.jpg");
}

/* footer */
footer {
  background-color: #000;
  /* height: 100px; */
  width: 100%;
  color: #fff;
}

.footer-information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-information .line {
  max-width: 80%;
  background-color: #fff;
  opacity: 0.5;
}

.footer-information h4 {
  max-width: 60%;
}

.footer-information i {
  height: 50px;
  width: 50px;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  flex-direction: row;
  font-size: 32px;
}

.footer-infomation__link {
  display: flex;
  justify-content: center;
}

.footer-infomation__link a {
  text-decoration: none;
}

/* 
.footer-icon-decription{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.footer-infomation__link{
    display: flex;
    justify-content: center;
}
.footer-infomation__link i{
    margin-left: 4px;
    margin-right: 4px;
    border: 2px solid #fff;
} */
.contact-info {
  border: none !important;
  width: 100%;
  margin-bottom: 1rem;
  outline: 0px solid;
}

.contact-info:focus-within {
  border: none;
  border-bottom: 2px solid var(--main-color);
  border-color: #fff;
}

.contact-info:focus-within :focus-visible {
  outline: none;
  border-bottom: 1px solid var(--main-color);
}

.contact-info input {
  width: 100%;
  padding: 10px;
  border: none;
}

.contact::before {
  position: absolute;
  background-color: var(--gray);
  opacity: 0.2;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
}

.contact_message {
  width: 100%;
  border: none;
  padding: 10px;
}

.btn-submit {
  background-color: #fff;
  border: 2px solid var(--main-color);
  padding: 8px;
  width: 250px;
  border-radius: 20px;
  position: relative;
}

.message {
  text-decoration: none;
  color: rgb(253, 94, 94);
}

body {
  padding: 0px;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: #F5F0FF;
  -webkit-font-smoothing: antialiased;
}

.bttn-dark {
  border: 4px solid var(--main-color);
  padding: 15px 50px;
  transition: all 0.5s;
}

.bttn-dark:hover {
  background-color: var(--main-color) 60%;
  color: var(--main-color);
}

/*# sourceMappingURL=index.css.map */
.setting,
.scrool-to-top {
  position: fixed;
  z-index: 1000;
  bottom: 30px;
  right: 20px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: var(--gray);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: all 0.2s;
  border: 1px solid #000;
}

.scrool-to-top:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: var(--main-color);
}

.setting {
  right: 90px;
}

.setting-color {
  position: relative;
}

.table-color {
  background-color: #fff;
  position: absolute;
  top: -196px;
  height: 160px;
  width: 160px;
  left: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: stretch;
  display: none;
}

.table-color::before {
  content: '';
  z-index: -1;
  top: 146px;
  height: 20px;
  width: 20px;
  left: 126px;
  position: absolute;
  background-color: #fff;
  transform: skew(136deg, 223deg);
}

.color-item {
  height: 30px;
  width: 30px;
  border-radius: 30px;
}

@media only screen and (max-width: 1200px) {
  .about-me-avatar {
    background-image: url(../images/avatar.jpg);
    height: 400px;
    width: 400px;
    background-size: cover, contain;
    background-position: center -100px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    top: 5px;
  }

  .header__content h1 span {
    font-size: 5.5rem;
    display: inline-block;
  }
}

/* 
@media only screen and (max-width: 1000px) {
  .about-me-avatar {
    background-image: url(../images/avatar.jpg);
    height: 400px;
    width: 400px;
    background-size: cover, contain;
    background-position: center -100px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    top: 5px;
  }
} */

@media only screen and (max-width: 540px) {
  .navbar-list {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .sclub .row {
    flex-direction: column-reverse;
  }
}

@media only screen and (width: 768px) {
  .sclub .row {
    flex-direction: row;
  }
}